.Navbar{
}

.Navbar-title{
    float: left;
    margin: 20px;
}

.Navbar-actions{
    margin-top: 20px;

}
.Navbar-dropdown {
    display: inline-block;
}

.Navbar-button{
    width: 200px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.Navbar-dropdown-content {
    width: 170px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.Navbar-dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Navbar-dropdown-content a:hover {
    background-color: #f1f1f1
}

.Navbar-dropdown:hover .Navbar-dropdown-content {
    display: block;
}


